<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <h2> URL Shortener</h2>
    <form id='post-form'>
      {% csrf_token %}
      <div class="form-group">
        <label for="link">Enter URL to shorten: </label>
        <input type="url" class="form-control" id="link" placeholder="Enter url to shorten" name="link">
      </div>
  
      <button type="submit" class="btn btn-primary"id="shorten">Shorten</button>
    </form>
    <div></div>
    <h6> Short URL: </h6>
    <div class="well" id="output"></div>
  </div>
  
  <script type="text/javascript">
    $(document).on('submit', '#post-form', function (e) {
      e.preventDefault();
      $.ajax({
        type: 'POST',
        url: '/create',
        data: {
          link: $('#link').val(),
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {
          $('#output').html("localhost:8000/" + data);
          console.log("Ajax done");
        }
      })
    });
  </script>
</body>

</html>